<header class="site-header pt4 pb2 mb4 bb b--transparent ph5 headroom z-max" role="banner">
  <nav class="site-nav db dt-l w-100" role="navigation">
    <div class="site-brand db dtc-l v-mid link no-underline w-100 w-33-l tc tl-l">
      <div class="flex items-center">
        <a href="/" class="link no-underline">
          <span class="f2 fw7 mr3 underline-hover">{{ .Site.Title }}</span>
        </a>
        <div class="social-icon-links flex items-center" aria-hidden="true">
          {{ range .Site.Params.social }}
          <a class="link dib h1 w1 ml0 mr2 f6 o-90 glow" href="{{ .url }}" title="{{ .title | default .icon }}" target="_blank" rel="noopener">
            <i class="{{ .icon_pack }} fa-{{ .icon }} fa-lg fa-fw"></i>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="site-links db dtc-l v-mid w-100 w-67-l tc tr-l mt3 mt0-l ttu tracked">
      {{ range .Site.Menus.header }}
      <a class="link f6 f5-l dib pv1 ph2" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>
</header> 